body{
  font-family: "Roboto", sans-serif;
  background-color: #f5f3f5;
}
/** NAVIGATION **/
button.navbar-toggler:focus{
  outline: none;
}
.navbar{
  border-top: 6px solid #f15025;
  background-color: #242a33;
  margin: 0;
  padding: 0;
}
.navbar .navbar-brand{
  display: block;
  background-color: #f15025;
  color: #f5f3f5;
  font-style: italic;
  padding: .9375rem 2.5rem;
}
.navbar .nav-link{
  color: #f15025;
  font-size: 1.25rem;
  margin: 0 .625rem;
  padding: .625rem .9375rem;
}
.navbar .nav-link:hover{
  background-color: #f15025;
  color: #f5f3f5;
}
/** END OF NAVIGATION **/
/** VIEWPORT **/
.viewport-80{
  min-height: 80vh;
}
/** END OF VIEWPORT **/
/** THEME BANNER SECTION **/
#banner{
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url('../images/background-banner.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
#banner .banner-title{
  font-style: italic;
}
#banner .banner-link{
  text-decoration: none;
  font-size: 1.25rem;
  padding: .9375rem 1.5625rem;
  border: 2px solid #f15025;
  border-radius: 0;
  background-color: transparent;
  color: #f15025;
}
#banner .banner-link:hover{
  border: 2px solid #f5f3f5;
  color: #f5f3f5;
}
/* BANNER AFTER */
#banner::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(36, 42, 51);
  position: absolute;
  bottom: -1.25rem;
  z-index: -1;
  transform-origin: left bottom;
  transform: skewY(5deg);
}
/* END OF BANNER AFTER */
/** END OF THEME BANNER SECTION **/
/** BANNER ICONS **/
#banner-icons{
  margin-top: -2.5rem;
}
#banner-icons ul{
  list-style-type: none;
}
#banner-icons li{
  margin: 0 .1875rem;
  padding: .625rem;
  background-color: rgba(0, 0, 0, .7);
}
#banner-icons a{
  display: block;
  color: #f5f3f5;
  text-decoration: none;
}
#banner-icons a:hover{
  color: #f15025;
}
#banner-icons .svg-inline--fa{
  font-size: 2rem;
}
/** END OF BANNER ICONS **/
/** SECTION TITLE **/

/** END OF SECTION TITLE **/
.title svg{
  font-size: 3.75rem;
  color: #f15025;
}
.title .title-text{
  padding-left: .9375rem;
  border-left: .1875rem solid #ced0ce;
}
/** SERVICES SECTION **/
#services .service-icon{
  font-size: 3.75rem;
  padding: 3.75rem;;
  background-color: #f15025;
  color: #f5f3f5;
}
#services .service-icon:hover{
  background-color: rgba(0, 0, 0, .6);
  color: #f15025;
}
#services .service-icon-1{
  /* links oben - x=0 y=0 | rechts oben - x=100% y=0 | rechts unten - x=100% y=100% | links unten - x=0 y=100% */
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
#services .service-icon-2{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}
#services .service-icon-3{
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
#services .service-icon-4{
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
/** END OF SERVICES SECTION **/
/** CONTACT SECTION **/
#contact{
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url('../images/background-filler-1.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

#contact .form-control{
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  border-bottom: .1875rem solid white;
  border-radius: none;
}
#contact .form-btn{
  font-size: 2.5rem;
  border: .1875rem solid white;
  border-radius: none;
  background-color: transparent;
  color: #f15025;
}
#contact .form-btn:hover{
  background-color: #f15025;
  color: #ced0ce;
  border: .1875rem solid #f15025;
}
#contact input[type="text"]::placeholder{
  color: white;
}
/** END OF CONTACT SECTION **/
/** WORK SECTION **/
#work .work-title-text{
  padding-right: .9375rem;
  border-right: .1875rem solid #ced0ce;
}
#work .work-icon{
  padding-left: .9375rem;
}
#work button{
  font-size: 1.25rem;
  margin: .3125rem;
  padding: .9375rem 1.25rem;
  border-radius: 0;
  background-color: #242a33;
  color: #f15025;
}
#work button:hover{
  background-color: #f15025;
  color: #242a33;
}
/** END OF WORK SECTION **/
/** ABOUT SECTION **/
#about-us{
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url('../images/current-projects-1.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
}
#about-us a{
  text-decoration: none;
  color: #ced0ce;
}
#about-us .card-header{
  background-color: #f15025;
}
/** END OF ABOUT SECTION **/
/** CURRENT PROJECTS SECTION **/
#current-projects .img-container{
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
  position: relative;
}
#current-projects .img-container:hover{
  opacity: .5;
}
#current-projects .img-icons{
  position: absolute;
  bottom: -10em;
  padding: 2.5rem;
  width: 100%;
  background-image: linear-gradient(rgba(206, 208, 206, .5), rgba(206, 208, 206, .7));
  transition: bottom 1.8s
}
#current-projects .img-container:hover .img-icons{
  bottom: 0;
}
#current-projects svg{
  color: #f15025;
  font-size: 2.5rem;
  margin: 0 .625rem;
}
#current-projects svg:hover{
  color: #242a33;
}
.no-padding{
  padding: 0;
}
/** END OF CURRENT PROJECTS SECTION **/
/** NUMBERS SECTION **/
#numbers .num{
  padding: 1.875rem;
  background-color: #242a33;
  color: #f5f3f5;
}
#numbers .num:hover{
  background-color: rgba(0, 0, 0, .6);
}
#numbers svg{
  font-size: 3.75rem;
}
/** END OF NUMBERS SECTION **/
