body{
  font-family: "Roboto", sans-serif;
  background-color: #f5f3f5;
}
/** NAVIGATION **/
button.navbar-toggler:focus{
  outline: none;
}
.navbar{
  border-top: 6px solid #f15025;
  background-color: #242a33;
  margin: 0;
  padding: 0;
}
.navbar .navbar-brand{
  display: block;
  background-color: #f15025;
  color: #f5f3f5;
  font-style: italic;
  padding: .9375rem 2.5rem;
}
.navbar .nav-link{
  color: #f15025;
  font-size: 1.25rem;
  margin: 0 .625rem;
  padding: .625rem .9375rem;
}
.navbar .nav-link:hover{
  background-color: #f15025;
  color: #f5f3f5;
}
/** END OF NAVIGATION **/
/** VIEWPORT **/
.viewport-80{
  min-height: 80vh;
}
/** END OF VIEWPORT **/
/** THEME BANNER SECTION **/
#banner{
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url('../images/background-banner.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}
#banner .banner-title{
  font-style: italic;
}
#banner .banner-link{
  text-decoration: none;
  font-size: 1.25rem;
  padding: .9375rem 1.5625rem;
  border: 2px solid #f15025;
  border-radius: 0;
  background-color: transparent;
  color: #f15025;
}
#banner .banner-link:hover{
  border: 2px solid #f5f3f5;
  color: #f5f3f5;
}
/* BANNER AFTER */
#banner::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(36, 42, 51);
  position: absolute;
  bottom: -1.25rem;
  z-index: -1;
  transform-origin: left bottom;
  transform: skewY(5deg);
}
/* END OF BANNER AFTER */
/** END OF THEME BANNER SECTION **/
/** BANNER ICONS **/
#banner-icons{
  margin-top: -2.5rem;
}
#banner-icons ul{
  list-style-type: none;
}
#banner-icons li{
  margin: 0 .1875rem;
  padding: .625rem;
  background-color: rgba(0, 0, 0, .7);
}
#banner-icons a{
  display: block;
  color: #f5f3f5;
  text-decoration: none;
}
#banner-icons a:hover{
  color: #f15025;
}
#banner-icons .svg-inline--fa{
  font-size: 2rem;
}
/** END OF BANNER ICONS **/
